results/
x64/
.project
.cproject
.externalToolBuilders/
.pydevproject
.settings/
*.sdf
*.suo
*.opensdf
*.vcxproj.user
*.o
*.d
*.a
#*#
*~
.DS_Store
Makefile
CMakeCache.txt
cmake_install.cmake
runs/*
build/vs*/
build/gmake/
build/xcode*/
CMakeFiles/
scripts/generate_runs/*/
/Default/
tmp/
*cscope*
source/utility/Version.h
