results/
x64/
*.sdf
*.suo
*.opensdf
*.vcxproj.user
*.o
*.d
#*#
*~
.DS_Store
runs/*
bin/
lib/*
build/CMakeCache.txt
build/CMakeFiles/
build/Makefile
build/cmake_install.cmake
build/third-party/
scripts/generate_runs/*/
