results/
x64/
*.sdf
*.suo
*.opensdf
*.vcxproj.user
*.o
*.d
*.a
#*#
*~
.DS_Store
Makefile
CMakeCache.txt
cmake_install.cmake
runs/*
build/vs*/
build/gmake/
build/xcode*/
CMakeFiles/
scripts/generate_runs/*/
